@CHARRSET "EUC-KR";
#wrap {
	width: 971px; /* 1024*768로 해상도를 맞추어서 설계 */
	/* 가운데 정렬을 위한 바깥쪽 여백 설정 */
	margin-top:100px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: black; /* 글 색상 */
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 12px; /* 글꼴 크기 */
	line-height: 24px; /* 줄 간격 */
}

table td,th {
	border: #d3d3d3 solid 1px; /* 경계선 색상 스타일 굵기 */
	padding: 5px; /* 안쪽 여백 */
}

th {
	background: black; /* 배경색 */
	color:white;
	text-align:center;
}



a {
	color: black; /* 글 색상 */
}

#title{
	color: #808080;
}

