#piano{
width:95%;
height:300px;
margin:auto;
border-radius:10px 10px 0 0;
overflow:hidden;
background: -webkit-linear-gradient(#111, #444);
background: -o-linear-gradient(#222, #444);
background: -moz-linear-gradient(#222, #444);
background: linear-gradient(#1e1d1d, #000);
}
.light{
width:10px;
height:10px;
border-radius:50%;
background:#ff7700;
float:left;
margin-right:10px;
margin-top:25px;
}
#piano-container {
width:95%;
height:230px;
background:#fff;
margin:40px auto 0 auto;
}
#piano-container li {
width:2.7%;
height:100%;
float:left;
list-style-type:none;
position:relative;
}

#A,#Sc,#Sq,#Z,#X,#C,#V,#B,#N,#M,#Cm,#Pe,#Fs,#NL,#S,#D,#F,#G,#H,#J,#K,#L,#Di,#Mu,#St,#NP7,#NP8,#NP9,#NP4,#NP5,#NP6,#add,#NP1,#NP2,#NP3,#NP0,#Dp{
width:100%;
height:100%;
float:left;
box-shadow:0 1px 1px rgba(0, 0, 0, .5);
position:relative;
z-index:1;
background:#f5f5f5;
}
#A:active,#Sc:active,#Sq:active,#Z:active,#X:active,#C:active,#V:active,#B:active,#N:active,#M:active,#Cm:active,#Pe:active,#Fs:active,#NL:active,#S:active,#D:active,#F:active,#G:active,#H:active,#J:active,#K:active,#L:active,#Di:active,#Mu:active,#St:active,#NP7:active,#NP8:active,#NP9:active,#NP4:active,#NP5:active,#NP6:active,#add:active,#NP1:active,#NP2:active,#NP3:active,#NP0:active,#Dp:active{
box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
-webkit-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
-moz-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
-ms-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
}
#A.key,#Sc.key,#Sq.key,#Z.key,#X.key,#C.key,#V.key,#B.key,#N.key,#M.key,#Cm.key,#Pe.key,#Fs.key,#NL.key,#S.key,#D.key,#F.key,#G.key,#H.key,#J.key,#K.key,#L.key,#Di.key,#Mu.key,#St.key,#NP7.key,#NP8.key,#NP9.key,#NP4.key,#NP5.key,#NP6.key,#add.key,#NP1.key,#NP2.key,#NP3.key,#NP0.key,#Dp.key{
box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
-webkit-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
-moz-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
-ms-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
} 
#one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#zero,#E,#R,#Y,#U,#I,#dash,#Es,#Bs,#Q,#W,#T,#O,#P,#Ob,#Cb,#enter{
position:absolute;
z-index:2;
width:70%;
height:120px;
background:#000;
right:-35%;
box-shadow: 1px 0 #111, 0 2px 0 #111, 0 3px 0 #333, 0 4px 0 #333, 0 5px 0 #333, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
-webkit-box-shadow: 1px 0 #777, 0 2px 0 #777, 0 3px 0 #666, 0 4px 0 #555, 0 5px 0 #444, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
-moz-box-shadow: 1px 0 #333, 0 2px 0 #555, 0 3px 0 #555, 0 4px 0 #666, 0 5px 0 #777, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
-ms-box-shadow: 1px 0 #333, 0 2px 0 #555, 0 3px 0 #555, 0 4px 0 #666, 0 5px 0 #777, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}
#one:active,#two:active,#three:active,#four:active,#five:active,#six:active,#seven:active,#eight:active,#nine:active,#zero:active,#E:active,#R:active,#Y:active,#U:active,#I:active,#dash:active,#Es:active,#Bs:active,#Q:active,#W:active,#T:active,#O:active,#P:active,#Ob:active,#Cb:active,#enter:active{
box-shadow: 1px 0 #777, 0 2px 0 #777, 0 3px 0 #666, 0 4px 0 #555;
-webkit-box-shadow: 1px 0 #555, 0 1px 0 #555, 0 1px 0 #444, 0 2px 0 #333;
-moz-box-shadow: 1px 0 #111, 0 2px 0 #222, 0 3px 0 #222;
-ms-box-shadow: 1px 0 #111, 0 2px 0 #222, 0 3px 0 #222;
}
#one.key,#two.key,#three.key,#four.key,#five.key,#six.key,#seven.key,#eight.key,#nine.key,#zero.key,#E.key,#R.key,#Y.key,#U.key,#I.key,#dash.key,#Es.key,#Bs.key,#Q.key,#W.key,#T.key,#O.key,#P.key,#Ob.key,#Cb.key,#enter.key{
box-shadow: 1px 0 #777, 0 2px 0 #777, 0 3px 0 #666, 0 4px 0 #555;
-webkit-box-shadow: 1px 0 #555, 0 1px 0 #555, 0 1px 0 #444, 0 2px 0 #333;
-moz-box-shadow: 1px 0 #111, 0 2px 0 #222, 0 3px 0 #222;
-ms-box-shadow: 1px 0 #111, 0 2px 0 #222, 0 3px 0 #222;

}
.text2{
 padding-top: 150px;
 padding-right: 5px;
 padding-left: 9px;
}

 #wrap{position:relative; width:100%; margin-top:70px; margin-left:auto; margin-right:auto;}

 #main_bn {
      margin:0 auto;
      width:550px;
      height:300px;
 }
 
 #main_bn img {
      width:100%;
      height:auto;
 }
            
#main_bn_btn {
	list-style-type:none;
	position:absolute;
	bottom:5px; left:5px;
}
            
#main_bn_btn li {        
	float: left; padding:0px 2px 0px 0px; margin-right:5px;
}
a, a:hover, a:visited { text-decoration:none; }
ul li { list-style : none; }


