svg {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 34%;
  margin-left:auto;
  margin-right:auto;
  stroke-width: 2;
  stroke: #000;
}
#sheet_music{
	width:80%;
}
.clef {
  stroke: none;
}
.ctrl {
  z-index: 1;
  width: 80%;
  margin-top:270px;
  margin-left:auto;
  margin-right:both;
}
input[name=cmd] {
  width: 100%;
  box-sizing: border-box;
} 

button {
  font-size: 2em;
  display: inline-block;
  
  height:auto;
  margin: 0.25em auto;
}
#rest {
  stroke: none;
}
#notes use.playing {
  stroke: #f00;
  fill: #f00;
}
.em {
  background-color: #ff9;
}
.note text {
  font-family: serif;
  font-size: 30px;
  font-weight: normal;
  stroke: none;
}
