<?php session_start();?>
<?php
	$sid=$_SESSION["ses_userid"];
?>
<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="../view.php" style="font-weight:800;">AdultPiano</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="../view.php">홈</a></li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">연주하기<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                                <li><a href="../piano/play2.php">악보 보며 연주하기</a></li>
                                <li><a href="../piano/play3.php">악보 만들며 연주하기</a></li>
                        </ul>
                </li>
		<li class="active"><a href="./list_action.php?page=1">공유하기</a></li>
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
		<?php if($sid!="guest"){ ?>
                <li><a href="../member/signOut.php">로그아웃[<?=$sid?>님]</a></li>
                <li><a href="../member/member_mypage.php">마이페이지[<?=$sid?>님]</a></li>
                <?php }else{ ?>
                <li><a href="../member/signUpForm.php">아직 회원이 아니세요?</a></li>
                <li><a href="../main.php">로그인</a></li>
                <?php } ?>

              </ul>
            </div>
          </div>
        </nav>
      </div>
</div>

