<div id="piano">
                <div id="piano-container">
		    <li>
                        <div id="A" onclick="A()" > 
                        <h6 class="text2">A</h6>
                        </div>
                        <div style="color:white;text-align:center" onclick="one()"  id="one">
                        <h6>1</h6>
                        </div>
                    </li>
                    <li>
                        <div onclick="Sc()" id="Sc">
                        <h6 class="text2">;</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="two()" id="two">
                        <h6>2</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="Sq()" id="Sq" >
                        <h6 class="text2">'</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="Z()" id="Z">
                        <h6 class="text2">Z</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="three()" id="three">
                        <h6>3</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="X()" id="X">
                        <h6 class="text2">X</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="four()" id="four">
                        <h6>4</h6>

                        </div>
                    </li>
		    <li>
                        <div onclick="C()" id="C">
                        <h6 class="text2">C</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="five()" id="five">
                        <h6>5</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="V()" id="V">
                        <h6 class="text2">V</h6>

                        </div>
                    </li>
                    <li>
                        <div id="B" onclick="B()" >
                        <h6 class="text2">B</h6>
                        </div>
                        <div style="color:white;text-align:center" onclick="six()"  id="six">
                        <h6>6</h6>
                        </div>
                    </li>
		    <li>
                        <div onclick="N()" id="N">
                        <h6 class="text2">N</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="seven()" id="seven">
                        <h6>7</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="M()" id="M" >
                        <h6 class="text2">M</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="Cm()" id="Cm">
                        <h6 class="text2">,</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="eight()" id="eight">
                        <h6>8</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="Pe()" id="Pe">
                        <h6 class="text2">.</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="nine()" id="nine">
                        <h6>9</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="Fs()" id="Fs">
                        <h6 class="text2">/</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="zero()" id="zero">
                        <h6>0</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="NL()" id="NL">
                        <h6 class="text2">NL</h6>

                        </div>
                    </li>

		     <li>
                        <div id="S" onclick="S()" >
                        <h6 class="text2">S</h6>
                        </div>
                        <div style="color:white;text-align:center" onclick="E()"  id="E">
                        <h6>E</h6>
                        </div>
                    </li>
                    <li>
                   <div onclick="D()" id="D">
                        <h6 class="text2">D</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="R()" id="R">
                        <h6>R</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="F()" id="F" >
                        <h6 class="text2">F</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="G()" id="G">
                        <h6 class="text2">G</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="Y()" id="Y">
                        <h6>Y</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="H()" id="H">
                        <h6 class="text2">H</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="U()" id="U">
                        <h6>U</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="J()" id="J">
                        <h6 class="text2">J</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="I()" id="I">
                        <h6>I</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="K()" id="K">
                        <h6 class="text2">K</h6>

                        </div>
                    </li>
		     <li>
                        <div id="L" onclick="L()" >
                        <h6 class="text2">L</h6>
                        </div>
                        <div style="color:white;text-align:center" onclick="dash()"  id="dash">
                        <h6>-</h6>
                        </div>
                    </li>
                    <li>
                   <div onclick="Di()" id="Di">
                        <h6 class="text2">NP/</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="Es()" id="Es">
                        <h6>=</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="Mu()" id="Mu">
                        <h6 class="text2">NP*</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="St()" id="St">
                        <h6 class="text2">NP-</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="Bs()" id="Bs">
                        <h6>\</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="NP7()" id="NP7">
                        <h6 class="text2">NP7</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="Q()" id="Q">
                        <h6>Q</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="NP8()" id="NP8">
                        <h6 class="text2">NP8</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="W()" id="W">
                        <h6>W</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="NP9()" id="NP9">
                        <h6 class="text2">NP9</h6>

                        </div>
                    </li>
		     <li>
                        <div id="NP4" onclick="NP4()" >
                        <h6 class="text2">NP4</h6>
                        </div>
                        <div style="color:white;text-align:center" onclick="T()"id="T">
                        <h6>T</h6>
                        </div>
                    </li>
                    <li>
                   <div onclick="NP5()" id="NP5">
                        <h6 class="text2">NP5</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="O()" id="O">
                        <h6>O</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="NP6()" id="NP6" >
                        <h6 class="text2">NP6</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="add()" id="add">
                        <h6 class="text2">NP+</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="P()" id="P">
                        <h6>P</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="NP1()" id="NP1">
                        <h6 class="text2">NP1</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="Ob()" id="Ob">
                        <h6>[</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="NP2()" id="NP2">
                        <h6 class="text2">NP2</h6>

                        </div>
                        <div style="color:white;text-align:center" onclick="Cb()" id="Cb">
                        <h6>]</h6>

                        </div>
                    </li>
                    <li>
                        <div onclick="NP3()" id="NP3">
                        <h6 class="text2">NP3</h6>

                        </div>
                    </li>
		     <li>
                        <div id="NP0" onclick="NP0()" >
                        <h6 class="text2">NP0</h6>
                        </div>
                        <div style="color:white;text-align:center" onclick="enter()"  id="enter">
                        <h6>enter</h6>
                        </div>
                    </li>
                    <li>
                   <div onclick="Dp()" id="Dp">
                        <h6 class="text2">NP.</h6>

                   </div>
                    </li>
                </div>
            </div>

