<audio>
    <source src="./sound/a.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/b.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/c.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/d.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/e.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/f.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/g.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/h.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/i.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/j.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/do_shap.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/re_shap.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/fa_shap.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/sol_shap.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/ra_shap.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/k.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/l.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/m.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/n.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/o.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/p.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/q.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/r.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/s.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/t.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/u.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/v.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/w.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/x.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/y.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/z.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/aa.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/bb.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/cc.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/dd.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/ee.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/ff.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/gg.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/hh.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/ii.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/do.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/re.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/mi.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/fa.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/sol.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/ra.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/si.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/do2.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/jj.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/kk.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/ll.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/mm.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/nn.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/oo.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/pp.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/qq.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/rr.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/6.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/5.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/4.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/3.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/2.mp3" type="audio/mpeg"></source>
</audio>
<audio>
    <source src="./sound/1.mp3" type="audio/mpeg"></source>
</audio>

